  <div class="tab1" [routerLink]="['/app-tab1']">
    <div class="link-container">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Today</ion-label>
    </div>
  </div>
  <div class="tab2" [routerLink]="['/app-tab2']">
    <div class="link-container">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Overview</ion-label>
    </div>
  </div>
  <div class="tab3" [routerLink]="['/app-tab3']">
    <div class="link-container">
      <ion-icon name="send"></ion-icon>
      <ion-label>Donate</ion-label>
    </div>
  </div>
